extends ./layout


block append meta
	meta(name="keywords" content="合利宝大数据服务，合利宝金融服务，电子支付/网上支付/安全支付/手机支付/付款/收款，水电煤缴费/信用卡还款/信用卡账单分期/收单//汇款转账/余额查询/个贷还款/OTO商户/境内特色电商/海淘")
	meta(name="description" content="合利宝支付，为你搭建一套完全由商户自主运营的创新银行金融业务系统，以商户利益出发，提供全面、优质、高效的POS专业化服务")

block title
	- var title = "合利宝行业服务，提供全面、优质、高效的POS专业化服务"
	title #{title}
block append link
	link(rel="stylesheet" type="text/css" href="dist/css/business.css")

block content
	.container.business
		include ./header
		.section.page
			.page-container.page(data-id="page1")
				mixin fullSection(tab)
					.banner.banner1
						.banner1-bg
							img(src="dist/images/banner@12x.png")
					.industry-container
						.industry-tab
							.tab-box
								ul.tab-ul
									each val, index in tab
										if(index == '0')
											li
												a(href="#",data-id="#{val.dataid}",class="active")
													img(src="dist/images/#{val.img}@12x.png")
													span #{val.title}
										else
											li
												a(href="#",data-id="#{val.dataid}")
													img(src="dist/images/#{val.img}@12x.png")
													span #{val.title}
						.content-container(data-id="bpos")
							.industry-wrapper
								.industry-content
									.industry-desc
										.title
											h2 服务介绍
										.desc-box
											p
												|合利宝拥有自己的POS品牌，在POS机的管理上拥有大量的专业经验，并且同国内的主要POS服务机构建立了很好的合作关系。
												|合利宝拥有中国银联的第三方外包机构认证资质，可为银行客户提供POS专业化外包服务。
												|服务内容包括POS安装、商户培训、POS维护、耗材配送、POS撤机、商户日常回访和POS巡检等。
											p
												|目前合利宝在全国二十多个省、自治区和直辖市设有分公司，我们本着一切从银行及其商户利益出发，提供全面、优质、高效的POS专业化服务。
												|设立7X24小时客服热线，准确记录问题，及时处理问题，为数百万的商户提供专业化服务。

									.industry-img
										img(src="dist/images/img_product_lypos@12x.png")
						.content-container(data-id="bkh")
							.industry-wrapper
								.industry-content
									.industry-desc
										.title
											h2 服务介绍
										.desc-box
											p
												|从银行的业务需求出发，充分发挥银行的业务优势，增加高净值客户的用户粘性。为银行提供高净值客户业务创新服务，
												|协助银行搭建一套完全由银行自主运营的创新银行金融业务系统，整合银行的主流业务领域和结算通路，
												|分享合利宝成熟产品，以及线上线下渠道资源及终端运营经验，为银行在社区银行、
												|创新收单和移动金融业务上的高速发展增添强劲动力。
							.industry-scenes
								.scenes-wrapper
									.industry-desc
										.title
											h2 大数据服务
										.desc-box
											p
												|为银行提供基于互联网和电商的大数据分析，同银行数据结合提供用户画像帮助银行锁定高净值客户并针对用户提供专业化的服务。
									.industry-img
										img(src="dist/images/bank_serve_1.jpg")
							.industry-wrapper
								.industry-content
									.industry-img
										img(src="dist/images/bank_serve_2.jpg")
									.industry-desc
										.title
											h2 金融服务
										.desc-box
											p
												|收单、信用卡还款、汇款转账、余额查询、个贷还款、信用卡账单分期等金融服务类业务。
							.industry-scenes
								.scenes-wrapper
									.industry-desc
										.title
											h2 便民服务
										.desc-box
											p
												|水费、电费、燃气费、有线电视费、通讯费、宽带费、交通罚款等便民支付类服务。
												|生活类服务：
												|飞机票、酒店、电影票、演出票、租车预约、保险购买等生活服务业务。
												|及时处理问题，为数百万的商户提供专业化服务。
									.industry-img
										img(src="dist/images/bank_serve_3.jpg")
							.industry-wrapper
								.industry-content
									.industry-img
										img(src="dist/images/bank_serve_4.jpg")
									.industry-desc
										.title
											h2 生活服务
										.desc-box
											p
												|合利宝拥有自己的POS品牌，在POS机的管理上拥有大量的专业经验，
												|并且同国内的主要POS服务机构建立了很好的合作关系。
												|合利宝拥有中国银联的第三方外包机构认证资质，
												|为银行客户提供POS专业化外包服务。
												|服务内容包括POS安装、商户培训、POS维护、耗材配送、POS撤机、
												|商户日常回访和POS巡检等。
							.industry-scenes
								.scenes-wrapper
									.industry-desc
										.title
											h2 电商服务
										.desc-box
											p
												|OTO商户、境内特色电商、海淘等。
									.industry-img
										img(src="dist/images/bank_serve_5.jpg")
				- var tab = [{"title":"银行POS外包服务","img":"icon_Bankingindustry_1active","dataid":"bpos"},{"title":"银行高净值客户创新服务","img":"icon_Bankingindustry_2","dataid":"bkh"}]
				+fullSection(tab)
		//- 右侧-联系我们
		mixin rightContact
			.contact-right
				.contact-box
					ul
						each val in [{"img":"dist/images/ico_toolsfixed_phone.png","className":"detail"},{"img":"dist/images/ico_toolsfixed_wechat.png","className":"detail"},{"img":"dist/images/ico_toolsfixed_top.png","className":"top"}]
							li.contact-list(class="#{val.className}")
								a(href="javascript:;")
									img(src= val.img)
				.contact-box-detail
					ul
						each val in ["dist/images/toolsfixed_phone@12x.png","dist/images/toolsfixed_wechat@12x.png"]
							li.contact-detail-list
								a(href="javascript:;")
									img(src= val)
		+rightContact
		include ./footer
block append script
	script(type="text/javascript" src="dist/js/about.js")
	script(type="text/javascript" src="dist/js/industry.js")
	script(type="text/javascript" src="dist/js/headroom.js")
	script(type="text/javascript" src="dist/js/doheadrom.js")
	script(type="text/javascript").
		$(function() {
			footerPosition();
			$(window).resize(footerPosition);
		});
