extends ./layout

block title
	- var title = "举报投诉"
	title #{title}
block append link
	link(rel="stylesheet" type="text/css" href="dist/css/serve.css")

block content
	.container.serve
		include ./header
		.section.page
			.page-container.page(data-id="page1")
				mixin fullSection()
					.banner.banner1
						.banner1-bg
							img(src="dist/images/banner@12x.png")
					.finance-container
						.finance-tab
							.tab-box
								ul.tab-ul
									- var list = [{"title":"网关支付","img":"icon_serve_exp_wg_1active","dataid":"fxq"},{"title":"快捷支付","img":"icon_serve_exp_kj_1","dataid":"xxaq"},{"title":"二维码支付","img":"icon_serve_exp_QR_1","dataid":"zfxt"},{"title":"委托支付","img":"icon_serve_exp_wt_1","dataid":"jrzs"}]
									each val in list
										li(data-id="#{val.dataid}")
											a(href="javascript:;")
												img(src="dist/images/#{val.img}@12x.png")
												span #{val.title}
						.content-container(data-id="fxq")
							.finance-wrapper
								.title-box
									.title
										h2 反洗钱知识
								.main-box
									p
										|反洗钱洗钱，顾名思义，就是将“脏”钱洗干净，然后“清洁”的钱就可以用了。也许您觉得洗钱离我们的生活太遥远，可是在实际生活中洗钱行为就在我们身边。本章将通过对洗钱行为以及反洗钱监管的介绍，让您在实际生活中警惕身边的洗钱陷阱，远离犯罪。
										|反洗钱洗钱，顾名思义，就是将“脏”钱洗干净，然后“清洁”的钱就可以用了。也许您觉得洗钱离我们的生活太遥远，可是在实际生活中洗钱行为就在我们身边。本章将通过对洗钱行为以及反洗钱监管的介绍，让您在实际生活中警惕身边的洗钱陷阱，远离犯罪。
										|反洗钱洗钱，顾名思义，就是将“脏”钱洗干净，然后“清洁”的钱就可以用了。也许您觉得洗钱离我们的生活太遥远，可是在实际生活中洗钱行为就在我们身边。本章将通过对洗钱行为以及反洗钱监管的介绍，让您在实际生活中警惕身边的洗钱陷阱，远离犯罪。
										|反洗钱洗钱，顾名思义，就是将“脏”钱洗干净，然后“清洁”的钱就可以用了。也许您觉得洗钱离我们的生活太遥远，可是在实际生活中洗钱行为就在我们身边。本章将通过对洗钱行为以及反洗钱监管的介绍，让您在实际生活中警惕身边的洗钱陷阱，远离犯罪。
									p
										|反洗钱洗钱，顾名思义，就是将“脏”钱洗干净，然后“清洁”的钱就可以用了。也许您觉得洗钱离我们的生活太遥远，可是在实际生活中洗钱行为就在我们身边。本章将通过对洗钱行为以及反洗钱监管的介绍，让您在实际生活中警惕身边的洗钱陷阱，远离犯罪。
										|反洗钱洗钱，顾名思义，就是将“脏”钱洗干净，然后“清洁”的钱就可以用了。也许您觉得洗钱离我们的生活太遥远，可是在实际生活中洗钱行为就在我们身边。本章将通过对洗钱行为以及反洗钱监管的介绍，让您在实际生活中警惕身边的洗钱陷阱，远离犯罪。
										|反洗钱洗钱，顾名思义，就是将“脏”钱洗干净，然后“清洁”的钱就可以用了。也许您觉得洗钱离我们的生活太遥远，可是在实际生活中洗钱行为就在我们身边。本章将通过对洗钱行为以及反洗钱监管的介绍，让您在实际生活中警惕身边的洗钱陷阱，远离犯罪。
										|反洗钱洗钱，顾名思义，就是将“脏”钱洗干净，然后“清洁”的钱就可以用了。也许您觉得洗钱离我们的生活太遥远，可是在实际生活中洗钱行为就在我们身边。本章将通过对洗钱行为以及反洗钱监管的介绍，让您在实际生活中警惕身边的洗钱陷阱，远离犯罪。
						.content-container(data-id="xxaq")
							.finance-wrapper
								.title-box
									.title
										h2 信息安全
								.main-box
									p
										|反洗钱洗钱，顾名思义，就是将“脏”钱洗干净，然后“清洁”的钱就可以用了。也许您觉得洗钱离我们的生活太遥远，可是在实际生活中洗钱行为就在我们身边。本章将通过对洗钱行为以及反洗钱监管的介绍，让您在实际生活中警惕身边的洗钱陷阱，远离犯罪。
										|反洗钱洗钱，顾名思义，就是将“脏”钱洗干净，然后“清洁”的钱就可以用了。也许您觉得洗钱离我们的生活太遥远，可是在实际生活中洗钱行为就在我们身边。本章将通过对洗钱行为以及反洗钱监管的介绍，让您在实际生活中警惕身边的洗钱陷阱，远离犯罪。
										|反洗钱洗钱，顾名思义，就是将“脏”钱洗干净，然后“清洁”的钱就可以用了。也许您觉得洗钱离我们的生活太遥远，可是在实际生活中洗钱行为就在我们身边。本章将通过对洗钱行为以及反洗钱监管的介绍，让您在实际生活中警惕身边的洗钱陷阱，远离犯罪。
										|反洗钱洗钱，顾名思义，就是将“脏”钱洗干净，然后“清洁”的钱就可以用了。也许您觉得洗钱离我们的生活太遥远，可是在实际生活中洗钱行为就在我们身边。本章将通过对洗钱行为以及反洗钱监管的介绍，让您在实际生活中警惕身边的洗钱陷阱，远离犯罪。
									p
										|反洗钱洗钱，顾名思义，就是将“脏”钱洗干净，然后“清洁”的钱就可以用了。也许您觉得洗钱离我们的生活太遥远，可是在实际生活中洗钱行为就在我们身边。本章将通过对洗钱行为以及反洗钱监管的介绍，让您在实际生活中警惕身边的洗钱陷阱，远离犯罪。
										|反洗钱洗钱，顾名思义，就是将“脏”钱洗干净，然后“清洁”的钱就可以用了。也许您觉得洗钱离我们的生活太遥远，可是在实际生活中洗钱行为就在我们身边。本章将通过对洗钱行为以及反洗钱监管的介绍，让您在实际生活中警惕身边的洗钱陷阱，远离犯罪。
										|反洗钱洗钱，顾名思义，就是将“脏”钱洗干净，然后“清洁”的钱就可以用了。也许您觉得洗钱离我们的生活太遥远，可是在实际生活中洗钱行为就在我们身边。本章将通过对洗钱行为以及反洗钱监管的介绍，让您在实际生活中警惕身边的洗钱陷阱，远离犯罪。
										|反洗钱洗钱，顾名思义，就是将“脏”钱洗干净，然后“清洁”的钱就可以用了。也许您觉得洗钱离我们的生活太遥远，可是在实际生活中洗钱行为就在我们身边。本章将通过对洗钱行为以及反洗钱监管的介绍，让您在实际生活中警惕身边的洗钱陷阱，远离犯罪。
						.content-container(data-id="zfxt")
							.finance-wrapper
								.title-box
									.title
										h2 支付系统
								.main-box
									p
										|反洗钱洗钱，顾名思义，就是将“脏”钱洗干净，然后“清洁”的钱就可以用了。也许您觉得洗钱离我们的生活太遥远，可是在实际生活中洗钱行为就在我们身边。本章将通过对洗钱行为以及反洗钱监管的介绍，让您在实际生活中警惕身边的洗钱陷阱，远离犯罪。
										|反洗钱洗钱，顾名思义，就是将“脏”钱洗干净，然后“清洁”的钱就可以用了。也许您觉得洗钱离我们的生活太遥远，可是在实际生活中洗钱行为就在我们身边。本章将通过对洗钱行为以及反洗钱监管的介绍，让您在实际生活中警惕身边的洗钱陷阱，远离犯罪。
										|反洗钱洗钱，顾名思义，就是将“脏”钱洗干净，然后“清洁”的钱就可以用了。也许您觉得洗钱离我们的生活太遥远，可是在实际生活中洗钱行为就在我们身边。本章将通过对洗钱行为以及反洗钱监管的介绍，让您在实际生活中警惕身边的洗钱陷阱，远离犯罪。
										|反洗钱洗钱，顾名思义，就是将“脏”钱洗干净，然后“清洁”的钱就可以用了。也许您觉得洗钱离我们的生活太遥远，可是在实际生活中洗钱行为就在我们身边。本章将通过对洗钱行为以及反洗钱监管的介绍，让您在实际生活中警惕身边的洗钱陷阱，远离犯罪。
									p
										|反洗钱洗钱，顾名思义，就是将“脏”钱洗干净，然后“清洁”的钱就可以用了。也许您觉得洗钱离我们的生活太遥远，可是在实际生活中洗钱行为就在我们身边。本章将通过对洗钱行为以及反洗钱监管的介绍，让您在实际生活中警惕身边的洗钱陷阱，远离犯罪。
										|反洗钱洗钱，顾名思义，就是将“脏”钱洗干净，然后“清洁”的钱就可以用了。也许您觉得洗钱离我们的生活太遥远，可是在实际生活中洗钱行为就在我们身边。本章将通过对洗钱行为以及反洗钱监管的介绍，让您在实际生活中警惕身边的洗钱陷阱，远离犯罪。
										|反洗钱洗钱，顾名思义，就是将“脏”钱洗干净，然后“清洁”的钱就可以用了。也许您觉得洗钱离我们的生活太遥远，可是在实际生活中洗钱行为就在我们身边。本章将通过对洗钱行为以及反洗钱监管的介绍，让您在实际生活中警惕身边的洗钱陷阱，远离犯罪。
										|反洗钱洗钱，顾名思义，就是将“脏”钱洗干净，然后“清洁”的钱就可以用了。也许您觉得洗钱离我们的生活太遥远，可是在实际生活中洗钱行为就在我们身边。本章将通过对洗钱行为以及反洗钱监管的介绍，让您在实际生活中警惕身边的洗钱陷阱，远离犯罪。
						.content-container(data-id="jrzs")
							.finance-wrapper
								.title-box
									.title
										h2 金融知识读本
								.main-box
									p
										|反洗钱洗钱，顾名思义，就是将“脏”钱洗干净，然后“清洁”的钱就可以用了。也许您觉得洗钱离我们的生活太遥远，可是在实际生活中洗钱行为就在我们身边。本章将通过对洗钱行为以及反洗钱监管的介绍，让您在实际生活中警惕身边的洗钱陷阱，远离犯罪。
										|反洗钱洗钱，顾名思义，就是将“脏”钱洗干净，然后“清洁”的钱就可以用了。也许您觉得洗钱离我们的生活太遥远，可是在实际生活中洗钱行为就在我们身边。本章将通过对洗钱行为以及反洗钱监管的介绍，让您在实际生活中警惕身边的洗钱陷阱，远离犯罪。
										|反洗钱洗钱，顾名思义，就是将“脏”钱洗干净，然后“清洁”的钱就可以用了。也许您觉得洗钱离我们的生活太遥远，可是在实际生活中洗钱行为就在我们身边。本章将通过对洗钱行为以及反洗钱监管的介绍，让您在实际生活中警惕身边的洗钱陷阱，远离犯罪。
										|反洗钱洗钱，顾名思义，就是将“脏”钱洗干净，然后“清洁”的钱就可以用了。也许您觉得洗钱离我们的生活太遥远，可是在实际生活中洗钱行为就在我们身边。本章将通过对洗钱行为以及反洗钱监管的介绍，让您在实际生活中警惕身边的洗钱陷阱，远离犯罪。
									p
										|反洗钱洗钱，顾名思义，就是将“脏”钱洗干净，然后“清洁”的钱就可以用了。也许您觉得洗钱离我们的生活太遥远，可是在实际生活中洗钱行为就在我们身边。本章将通过对洗钱行为以及反洗钱监管的介绍，让您在实际生活中警惕身边的洗钱陷阱，远离犯罪。
										|反洗钱洗钱，顾名思义，就是将“脏”钱洗干净，然后“清洁”的钱就可以用了。也许您觉得洗钱离我们的生活太遥远，可是在实际生活中洗钱行为就在我们身边。本章将通过对洗钱行为以及反洗钱监管的介绍，让您在实际生活中警惕身边的洗钱陷阱，远离犯罪。
										|反洗钱洗钱，顾名思义，就是将“脏”钱洗干净，然后“清洁”的钱就可以用了。也许您觉得洗钱离我们的生活太遥远，可是在实际生活中洗钱行为就在我们身边。本章将通过对洗钱行为以及反洗钱监管的介绍，让您在实际生活中警惕身边的洗钱陷阱，远离犯罪。
										|反洗钱洗钱，顾名思义，就是将“脏”钱洗干净，然后“清洁”的钱就可以用了。也许您觉得洗钱离我们的生活太遥远，可是在实际生活中洗钱行为就在我们身边。本章将通过对洗钱行为以及反洗钱监管的介绍，让您在实际生活中警惕身边的洗钱陷阱，远离犯罪。
				+fullSection()
		//- 右侧-联系我们
		mixin rightContact
			.contact-right
				.contact-box
					ul
						each val in [{"img":"dist/images/ico_toolsfixed_phone.png","className":"detail"},{"img":"dist/images/ico_toolsfixed_wechat.png","className":"detail"},{"img":"dist/images/ico_toolsfixed_top.png","className":"top"}]
							li.contact-list(class="#{val.className}")
								a(href="javascript:;")
									img(src= val.img)
				.contact-box-detail
					ul
						each val in ["dist/images/toolsfixed_phone@12x.png","dist/images/toolsfixed_wechat@12x.png"]
							li.contact-detail-list
								a(href="javascript:;")
									img(src= val)
		+rightContact
		include ./footer
block append script
	script(type="text/javascript" src="dist/js/about.js")
	script(type="text/javascript" src="dist/js/finance.js")
	script(type="text/javascript" src="dist/js/headroom.js")
	script(type="text/javascript" src="dist/js/doheadrom.js")
